<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.su.lapponampai_w.mhm_app_beta1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".AddMedicineActivity" />
        <activity android:name=".AddMedicine2Activity" />

        <receiver
            android:name=".DailyUpdateReceiver"
            android:process=":remote" />
        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />

        <activity android:name=".MyCalendar" />
        <activity android:name=".MedicationListActivity" />
        <activity android:name=".NewsActivity" />
        <activity android:name=".DrugInformationActivity" />
        <activity
            android:name=".TakeSkipMedicineActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".MedicationDetailActivity" />
        <activity
            android:name=".PopUpAddAmountMedicine"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".AdherenceActivity" />
        <activity android:name=".ForDoctorActivity" />
        <activity android:name=".ResultDoctorActivity" />
        <activity android:name=".AppointmentActivity" />
        <activity android:name=".LabActivity" />
        <activity android:name=".NoteActivity" />
        <activity
            android:name=".PopUpCalendarActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".AboutMHMActivity" />
        <activity android:name=".TransferDataActivity" />
        <activity android:name=".ChangePWActivity" />
        <activity android:name=".PopUpChangeTradeGenericName"></activity>
    </application>

</manifest>